{
  "openapi": "3.0.0",
  "info": {
    "title": "AmBev PO Integration",
    "description": "Documentation\n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Lucas Seixas",
      "url": "https://www.evtit.com/",
      "email": "lucas.seixas@evtit.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sappodev.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Development server (DP1) - External URL"
    },
    {
      "url": "https://sappoqas.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Quality server (QP1) - External URL"
    },
    {
      "url": "https://sappoprd.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Production server (PP1) - External URL"
    },
    {
      "url": "http://sappodev.la.interbrew.net:50000/RESTAdapter",
      "description": "SAP PO Development server (DP1) - Internal URL"
    },
    {
      "url": "http://sappoqas.la.interbrew.net:50000/RESTAdapter",
      "description": "SAP PO Quality server (QP1) - Internal URL"
    },
    {
      "url": "http://sappoprd.la.interbrew.net:50000/RESTAdapter",
      "description": "SAP PO Production server (PP1) - Internal URL"
    }
  ],
  "tags": [
    {
      "name": "APIs",
      "description": "Everything about PO integration for AmBev"
    }
  ],
  "paths": {
    "/v1/BSS/getAccountGl": {
      "post": {
        "tags": [
          "AccountGl"
        ],
        "summary": "API",
        "operationId": "AccountGl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accountGl_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountGl_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/putChangeMaterialpurchaseOrder": {
      "put": {
        "tags": [
          "ChangeMaterialpurchaseOrder"
        ],
        "summary": "API",
        "operationId": "ChangeMaterialpurchaseOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changeMaterialpurchaseOrder_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changeMaterialpurchaseOrder_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/putChangeNotification": {
      "post": {
        "tags": [
          "ChangeNotification"
        ],
        "summary": "API",
        "operationId": "ChangeNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changeNotification_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changeNotification_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/putChangeMaterialReservation": {
      "put": {
        "tags": [
          "ChangeMaterialReservation"
        ],
        "summary": "API",
        "operationId": "ChangeMaterialReservation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changeMaterialReservation_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changeMaterialReservation_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/putChangeOrder": {
      "post": {
        "tags": [
          "ChangeOrder"
        ],
        "summary": "API",
        "operationId": "ChangeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changeOrder_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changeOrder_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/postConfirmOrder": {
      "post": {
        "tags": [
          "ConfirmOrder"
        ],
        "summary": "API",
        "operationId": "ConfirmOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postConfirmOrder_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postConfirmOrder_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/postCreateMaterialpurchaseOrder": {
      "post": {
        "tags": [
          "CreateMaterialpurchaseOrder"
        ],
        "summary": "API",
        "operationId": "CreateMaterialpurchaseOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMaterialpurchaseOrder_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createMaterialpurchaseOrder_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/postCreateNotification": {
      "post": {
        "tags": [
          "CreateNotification"
        ],
        "summary": "API",
        "operationId": "CreateNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCreateNotification_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postCreateNotification_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/getEquipmentJobsSchedule": {
      "post": {
        "tags": [
          "EquipmentJobsSchedule"
        ],
        "summary": "API",
        "operationId": "EquipmentJobsSchedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/equipmentJobsSchedule_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equipmentJobsSchedule_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    },
    "/v1/BSS/getEquipmentReadJobs": {
      "post": {
        "tags": [
          "EquipmentReadJobs"
        ],
        "summary": "API",
        "operationId": "EquipmentReadJobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/equipmentReadJobs_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/equipmentReadJobs_res"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "accountGl_res": {
        "title": "accountGl_res",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/accountGl_res_result"
            }
          }
        },
        "xml": {
          "name": "accountGl_res"
        }
      },
      "accountGl_req": {
        "title": "accountGl_req",
        "type": "object",
        "properties": {
          "spras": {
            "type": "string"
          },
          "swerk": {
            "type": "string"
          },
          "ktoks_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/accountGl_req_ktoks_list"
            }
          }
        },
        "xml": {
          "name": "accountGl_req"
        }
      },
      "changeMaterialpurchaseOrder_req": {
        "title": "changeMaterialpurchaseOrder_req",
        "type": "object",
        "properties": {
          "spras": {
            "type": "string"
          },
          "werks": {
            "type": "string"
          },
          "aufnr": {
            "type": "string"
          },
          "rsnum": {
            "type": "string"
          },
          "create": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_req_create"
            }
          },
          "update": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_req_update"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_req_deleted"
            }
          }
        },
        "xml": {
          "name": "changeMaterialpurchaseOrder_req"
        }
      },
      "changeMaterialpurchaseOrder_res": {
        "title": "changeMaterialpurchaseOrder_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "created": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_res_created"
            }
          },
          "updated": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_res_created"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialpurchaseOrder_res_deleted"
            }
          }
        },
        "xml": {
          "name": "changeMaterialpurchaseOrder_res"
        }
      },
      "changeMaterialReservation_res": {
        "title": "changeMaterialReservation_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "created": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_res_created"
            }
          },
          "updated": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_res_created"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_res_created"
            }
          }
        },
        "xml": {
          "name": "changeMaterialReservation_res"
        }
      },
      "changeMaterialReservation_req": {
        "title": "changeMaterialReservation_req",
        "type": "object",
        "properties": {
          "spras": {
            "type": "string"
          },
          "werks": {
            "type": "string"
          },
          "aufnr": {
            "type": "string"
          },
          "rsnum": {
            "type": "string"
          },
          "create": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_req_create"
            }
          },
          "updated": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_req_updated"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeMaterialReservation_req_deleted"
            }
          }
        },
        "xml": {
          "name": "changeMaterialReservation_req"
        }
      },
      "changeNotification_res": {
        "title": "changeNotification_res",
        "type": "object",
        "properties": {
          "qmnum": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "xml": {
          "name": "changeNotification_res"
        }
      },
      "changeNotification_req": {
        "title": "changeNotification_req",
        "type": "object",
        "properties": {
          "qmnum": {
            "type": "string"
          },
          "header": {
            "$ref": "#/components/schemas/changeNotification_req_header"
          },
          "notifitem": {
            "$ref": "#/components/schemas/changeNotification_req_notifitem"
          },
          "notifcaus": {
            "$ref": "#/components/schemas/changeNotification_req_notifcaus"
          },
          "notifactv": {
            "$ref": "#/components/schemas/changeNotification_req_notifactv"
          },
          "notiftask": {
            "$ref": "#/components/schemas/changeNotification_req_notiftask"
          },
          "notifpartnr": {
            "$ref": "#/components/schemas/changeNotification_req_notifpartnr"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "xml": {
          "name": "changeNotification_req"
        }
      },
      "changeOrder_res": {
        "title": "changeOrder_res",
        "type": "object",
        "properties": {
          "return": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeOrder_res_return"
            }
          }
        },
        "xml": {
          "name": "changeOrder_res"
        }
      },
      "changeOrder_req": {
        "title": "changeOrder_req",
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/changeOrder_req_header"
          },
          "user_status": {
            "$ref": "#/components/schemas/changeOrder_req_user_status"
          },
          "operation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/changeOrder_req_operation"
            }
          }
        },
        "xml": {
          "name": "changeOrder_req"
        }
      },
      "postConfirmOrder_res": {
        "title": "postConfirmOrder_res",
        "type": "object",
        "properties": {
          "return": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/postConfirmOrder_res_return"
            }
          }
        },
        "xml": {
          "name": "postConfirmOrder_res"
        }
      },
      "postConfirmOrder_req": {
        "title": "postConfirmOrder_req",
        "type": "object",
        "properties": {
          "rueck": {
            "type": "string"
          },
          "aufnr": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "uvorn": {
            "type": "string"
          },
          "kapar": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "aueru": {
            "type": "string"
          },
          "leknw": {
            "type": "string"
          },
          "ausor": {
            "type": "string"
          },
          "budat": {
            "type": "string"
          },
          "grund": {
            "type": "string"
          },
          "ltxa1": {
            "type": "string"
          },
          "werks": {
            "type": "string"
          },
          "arbpl": {
            "type": "string"
          },
          "ismnw": {
            "type": "string"
          },
          "ismnu": {
            "type": "string"
          },
          "odaur": {
            "type": "string"
          },
          "ofmne": {
            "type": "string"
          },
          "idaur": {
            "type": "string"
          },
          "idaue": {
            "type": "string"
          },
          "isdd": {
            "type": "string"
          },
          "isdz": {
            "type": "string"
          },
          "iedd": {
            "type": "string"
          },
          "iedz": {
            "type": "string"
          },
          "pedd": {
            "type": "string"
          },
          "pedz": {
            "type": "string"
          },
          "pernr": {
            "type": "string"
          },
          "zauws": {
            "type": "string"
          },
          "learr": {
            "type": "string"
          },
          "loart": {
            "type": "string"
          },
          "bemot": {
            "type": "string"
          },
          "exnam": {
            "type": "string"
          },
          "exerd": {
            "type": "string"
          },
          "extid": {
            "type": "string"
          },
          "ismnw2": {
            "type": "string"
          },
          "ofmnw": {
            "type": "string"
          },
          "longtext": {
            "type": "string"
          }
        },
        "xml": {
          "name": "postConfirmOrder_req"
        }
      },
      "createMaterialpurchaseOrder_res": {
        "title": "createMaterialpurchaseOrder_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createMaterialpurchaseOrder_res_results"
            }
          }
        },
        "xml": {
          "name": "createMaterialpurchaseOrder_res"
        }
      },
      "createMaterialpurchaseOrder_req": {
        "title": "createMaterialpurchaseOrder_req",
        "type": "object",
        "properties": {
          "spras": {
            "type": "string"
          },
          "werks": {
            "type": "string"
          },
          "aufnr": {
            "type": "string"
          },
          "purchases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createMaterialpurchaseOrder_req_purchases"
            }
          }
        },
        "xml": {
          "name": "createMaterialpurchaseOrder_req"
        }
      },
      "postCreateNotification_res": {
        "title": "postCreateNotification_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "xml": {
          "name": "postCreateNotification_res"
        }
      },
      "postCreateNotification_req": {
        "title": "postCreateNotification_req",
        "type": "object",
        "properties": {
          "qmart": {
            "type": "string"
          },
          "stsma": {
            "type": "string"
          },
          "estat": {
            "type": "string"
          },
          "equnr": {
            "type": "string"
          },
          "tplnr": {
            "type": "string"
          },
          "qmnam": {
            "type": "string"
          },
          "priok": {
            "type": "string"
          },
          "qmtxt": {
            "type": "string"
          },
          "ingrp": {
            "type": "string"
          },
          "strmn": {
            "type": "string"
          },
          "strur": {
            "type": "string"
          },
          "ltrmn": {
            "type": "string"
          },
          "ltrur": {
            "type": "string"
          },
          "stort": {
            "type": "string"
          },
          "ausvn": {
            "type": "string"
          },
          "ausbs": {
            "type": "string"
          },
          "auztv": {
            "type": "string"
          },
          "auztb": {
            "type": "string"
          },
          "iwerk": {
            "type": "string"
          },
          "gwerk": {
            "type": "string"
          },
          "msaus": {
            "type": "string"
          },
          "parvw": {
            "type": "string"
          },
          "qmnam2": {
            "type": "string"
          },
          "opponent": {
            "type": "string"
          },
          "btpln": {
            "type": "string"
          },
          "bequi": {
            "type": "string"
          },
          "bname": {
            "type": "string"
          },
          "submt": {
            "type": "string"
          },
          "qmgrp": {
            "type": "string"
          },
          "qmcod": {
            "type": "string"
          },
          "qmtxt2": {
            "type": "string"
          },
          "otgrp": {
            "type": "string"
          },
          "oteil": {
            "type": "string"
          },
          "fegrp": {
            "type": "string"
          },
          "fecod": {
            "type": "string"
          },
          "fetxt": {
            "type": "string"
          },
          "urgrp": {
            "type": "string"
          },
          "urcod": {
            "type": "string"
          },
          "urtxt": {
            "type": "string"
          },
          "mngrp": {
            "type": "string"
          },
          "mfcod": {
            "type": "string"
          },
          "mftext": {
            "type": "string"
          },
          "magrp": {
            "type": "string"
          },
          "mncod": {
            "type": "string"
          },
          "matxt": {
            "type": "string"
          },
          "pster": {
            "type": "string"
          },
          "peter": {
            "type": "string"
          },
          "qmsmerldat": {
            "type": "string"
          },
          "qmsmerltim": {
            "type": "string"
          },
          "longtext": {
            "type": "string"
          },
          "swerk": {
            "type": "string"
          }
        },
        "xml": {
          "name": "postCreateNotification_req"
        }
      },
      "equipmentJobsSchedule_res": {
        "title": "equipmentJobsSchedule_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          }
        },
        "xml": {
          "name": "equipmentJobsSchedule_res"
        }
      },
      "equipmentJobsSchedule_req": {
        "title": "equipmentJobsSchedule_req",
        "type": "object",
        "properties": {
          "werks": {
            "type": "string"
          },
          "langu": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        },
        "xml": {
          "name": "equipmentJobsSchedule_req"
        }
      },
      "equipmentReadJobs_res": {
        "title": "equipmentReadJobs_res",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "islastpage": {
            "type": "boolean"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/equipmentReadJobs_res_results"
            }
          }
        },
        "xml": {
          "name": "equipmentReadJobs_res"
        }
      },
      "equipmentReadJobs_req": {
        "title": "equipmentReadJobs_req",
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          }
        },
        "xml": {
          "name": "equipmentReadJobs_req"
        }
      },
      "accountGl_res_result": {
        "properties": {
          "spras": {
            "type": "string"
          },
          "ktopl": {
            "type": "string"
          },
          "saknr": {
            "type": "string"
          },
          "txt50_skat": {
            "type": "string"
          }
        }
      },
      "accountGl_req_ktoks_list": {
        "properties": {
          "ktoks": {
            "type": "string"
          }
        }
      },
      "changeMaterialpurchaseOrder_req_create": {
        "type": "object",
        "properties": {
          "posnr": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "matnr": {
            "type": "string"
          },
          "igort": {
            "type": "string"
          },
          "charg": {
            "type": "string"
          },
          "postp": {
            "type": "string"
          },
          "bdmng": {
            "type": "string"
          },
          "meins": {
            "type": "string"
          },
          "bdter": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          },
          "konnr": {
            "type": "string"
          },
          "ktpnr": {
            "type": "string"
          },
          "saknr": {
            "type": "string"
          }
        }
      },
      "changeMaterialpurchaseOrder_req_update": {
        "type": "object",
        "properties": {
          "vornr": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "igort": {
            "type": "string"
          },
          "charg": {
            "type": "string"
          },
          "bdmng": {
            "type": "string"
          },
          "meins": {
            "type": "string"
          },
          "bdter": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          },
          "konnr": {
            "type": "string"
          },
          "ktpnr": {
            "type": "string"
          },
          "saknr": {
            "type": "string"
          }
        }
      },
      "changeMaterialpurchaseOrder_req_deleted": {
        "type": "object",
        "properties": {
          "vornr": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          }
        }
      },
      "changeMaterialpurchaseOrder_res_created": {
        "type": "object",
        "properties": {
          "aufnr": {
            "type": "string"
          },
          "rsnum": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          },
          "gpreis": {
            "type": "string"
          },
          "waers": {
            "type": "string"
          }
        }
      },
      "changeMaterialpurchaseOrder_res_deleted": {
        "type": "object",
        "properties": {
          "aufnr": {
            "type": "string"
          },
          "rsnum": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          }
        }
      },
      "changeMaterialReservation_res_created": {
        "type": "object",
        "properties": {
          "rsnum": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          }
        }
      },
      "changeMaterialReservation_req_create": {
        "type": "object",
        "properties": {
          "posnr": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "matnr": {
            "type": "string"
          },
          "igort": {
            "type": "string"
          },
          "charg": {
            "type": "string"
          },
          "postp": {
            "type": "string"
          },
          "bdmng": {
            "type": "string"
          },
          "meins": {
            "type": "string"
          },
          "bdter": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          }
        }
      },
      "changeMaterialReservation_req_updated": {
        "type": "object",
        "properties": {
          "posnr": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "vorn": {
            "type": "string"
          },
          "igort": {
            "type": "string"
          },
          "charg": {
            "type": "string"
          },
          "bdmng": {
            "type": "string"
          },
          "meins": {
            "type": "string"
          },
          "bdter": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          }
        }
      },
      "changeMaterialReservation_req_deleted": {
        "type": "object",
        "properties": {
          "posnr": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_header": {
        "type": "object",
        "properties": {
          "refobjecttype": {
            "type": "string"
          },
          "refobjectkey": {
            "type": "string"
          },
          "refreltype": {
            "type": "string"
          },
          "equipment": {
            "type": "string"
          },
          "funct_loc": {
            "type": "string"
          },
          "assembly": {
            "type": "string"
          },
          "serialno": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "division": {
            "type": "string"
          },
          "sales_org": {
            "type": "string"
          },
          "distr_chan": {
            "type": "string"
          },
          "sales_office": {
            "type": "string"
          },
          "sales_grp": {
            "type": "string"
          },
          "short_text": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "desstdate": {
            "type": "string"
          },
          "dessttime": {
            "type": "string"
          },
          "desenddate": {
            "type": "string"
          },
          "desendtm": {
            "type": "string"
          },
          "devicedata": {
            "type": "string"
          },
          "pm_wkctr": {
            "type": "string"
          },
          "purch_no_c": {
            "type": "string"
          },
          "purch_date": {
            "type": "string"
          },
          "planplant": {
            "type": "string"
          },
          "plangroup": {
            "type": "string"
          },
          "breakdown": {
            "type": "string"
          },
          "strmlfndate": {
            "type": "string"
          },
          "strmlfntime": {
            "type": "string"
          },
          "reportedby": {
            "type": "string"
          },
          "notif_date": {
            "type": "string"
          },
          "notiftime": {
            "type": "string"
          },
          "code_group": {
            "type": "string"
          },
          "coding": {
            "type": "string"
          },
          "doc_number": {
            "type": "string"
          },
          "itm_number": {
            "type": "string"
          },
          "endmlfndate": {
            "type": "string"
          },
          "endmlfntime": {
            "type": "string"
          },
          "scenario": {
            "type": "string"
          },
          "assembly_external": {
            "type": "string"
          },
          "assembly_guid": {
            "type": "string"
          },
          "assembly_version": {
            "type": "string"
          },
          "material_external": {
            "type": "string"
          },
          "material_guid": {
            "type": "string"
          },
          "material_version": {
            "type": "string"
          },
          "maintplant": {
            "type": "string"
          },
          "maintloc": {
            "type": "string"
          },
          "maintroom": {
            "type": "string"
          },
          "longtext_upd": {
            "type": "boolean"
          },
          "longtext": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_notifitem": {
        "type": "object",
        "properties": {
          "refobjectkey": {
            "type": "string"
          },
          "item_key": {
            "type": "string"
          },
          "item_sort_no": {
            "type": "string"
          },
          "descript": {
            "type": "string"
          },
          "d_codegrp": {
            "type": "string"
          },
          "d_code": {
            "type": "string"
          },
          "dl_codegrp": {
            "type": "string"
          },
          "dl_code": {
            "type": "string"
          },
          "assembly": {
            "type": "string"
          },
          "assembly_external": {
            "type": "string"
          },
          "assembly_guid": {
            "type": "string"
          },
          "assembly_version": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_notifcaus": {
        "type": "object",
        "properties": {
          "refobjectkey": {
            "type": "string"
          },
          "cause_key": {
            "type": "string"
          },
          "cause_sort_no": {
            "type": "string"
          },
          "item_key": {
            "type": "string"
          },
          "causetext": {
            "type": "string"
          },
          "cause_codegrp": {
            "type": "string"
          },
          "cause_code": {
            "type": "string"
          },
          "item_sort_no": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_notifactv": {
        "type": "object",
        "properties": {
          "refobjectkey": {
            "type": "string"
          },
          "act_key": {
            "type": "string"
          },
          "act_sort_no": {
            "type": "string"
          },
          "acttext": {
            "type": "string"
          },
          "act_codegrp": {
            "type": "string"
          },
          "act_code": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "start_time": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "item_sort_no": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_notiftask": {
        "type": "object",
        "properties": {
          "refobjectkey": {
            "type": "string"
          },
          "task_key": {
            "type": "string"
          },
          "task_sort_no": {
            "type": "string"
          },
          "task_text": {
            "type": "string"
          },
          "task_codegrp": {
            "type": "string"
          },
          "task_code": {
            "type": "string"
          },
          "partn_role": {
            "type": "string"
          },
          "partner": {
            "type": "string"
          },
          "plnd_start_date": {
            "type": "string"
          },
          "plnd_start_time": {
            "type": "string"
          },
          "plnd_end_date": {
            "type": "string"
          },
          "plnd_end_time": {
            "type": "string"
          },
          "carried_out_by": {
            "type": "string"
          },
          "item_sort_no": {
            "type": "string"
          }
        }
      },
      "changeNotification_req_notifpartnr": {
        "type": "object",
        "properties": {
          "refobjectkey": {
            "type": "string"
          },
          "partn_role": {
            "type": "string"
          },
          "partn_role_old": {
            "type": "string"
          },
          "partner": {
            "type": "string"
          },
          "partner_old": {
            "type": "string"
          }
        }
      },
      "changeOrder_res_return": {
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "changeOrder_req_header": {
        "type": "object",
        "properties": {
          "aufnr": {
            "type": "string"
          },
          "auart": {
            "type": "string"
          },
          "iwerk": {
            "type": "string"
          },
          "gsber": {
            "type": "string"
          },
          "vaplz": {
            "type": "string"
          },
          "vawrk": {
            "type": "string"
          },
          "ilart": {
            "type": "string"
          },
          "ingrp": {
            "type": "string"
          },
          "anlzu": {
            "type": "string"
          },
          "tplnr": {
            "type": "string"
          },
          "equnr": {
            "type": "string"
          },
          "serialnr": {
            "type": "string"
          },
          "sermat": {
            "type": "string"
          },
          "swerk": {
            "type": "string"
          },
          "zzresource": {
            "type": "string"
          },
          "eqfnr": {
            "type": "string"
          },
          "plknz": {
            "type": "string"
          },
          "gstrp": {
            "type": "string"
          },
          "gltrp": {
            "type": "string"
          },
          "gsuzp": {
            "type": "string"
          },
          "gluzp": {
            "type": "string"
          },
          "priok": {
            "type": "string"
          },
          "revnr": {
            "type": "string"
          },
          "user4": {
            "type": "string"
          },
          "waers": {
            "type": "string"
          },
          "ktext": {
            "type": "string"
          },
          "qmnum": {
            "type": "string"
          },
          "addat": {
            "type": "string"
          },
          "aduhr": {
            "type": "string"
          },
          "maufnr": {
            "type": "string"
          },
          "qmart": {
            "type": "string"
          },
          "longtext_upd": {
            "type": "string"
          },
          "longtext": {
            "type": "string"
          }
        }
      },
      "changeOrder_req_user_status": {
        "type": "object",
        "properties": {
          "txt04": {
            "type": "string"
          },
          "spras": {
            "type": "string"
          }
        }
      },
      "changeOrder_req_operation": {
        "properties": {
          "action": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "uvorn": {
            "type": "string"
          },
          "steus": {
            "type": "string"
          },
          "zzresource": {
            "type": "string"
          },
          "werks": {
            "type": "string"
          },
          "ktsch": {
            "type": "string"
          },
          "ltxa1": {
            "type": "string"
          },
          "txtsp": {
            "type": "string"
          },
          "loanz": {
            "type": "string"
          },
          "lifnr": {
            "type": "string"
          },
          "losvg": {
            "type": "string"
          },
          "gmein": {
            "type": "string"
          },
          "preis": {
            "type": "string"
          },
          "peinh": {
            "type": "string"
          },
          "sakto": {
            "type": "string"
          },
          "waers": {
            "type": "string"
          },
          "infnr": {
            "type": "string"
          },
          "ekorg": {
            "type": "string"
          },
          "ekgrp": {
            "type": "string"
          },
          "matkl": {
            "type": "string"
          },
          "konnr": {
            "type": "string"
          },
          "ktpnr": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          },
          "anzzl": {
            "type": "string"
          },
          "prznt": {
            "type": "string"
          },
          "indet": {
            "type": "string"
          },
          "lar01": {
            "type": "string"
          },
          "anlzu": {
            "type": "string"
          },
          "vertl": {
            "type": "string"
          },
          "wempf": {
            "type": "string"
          },
          "pernr": {
            "type": "string"
          },
          "dauno": {
            "type": "string"
          },
          "daune": {
            "type": "string"
          },
          "arbei": {
            "type": "string"
          },
          "arbeh": {
            "type": "string"
          },
          "ntanf": {
            "type": "string"
          },
          "ntanz": {
            "type": "string"
          },
          "ntend": {
            "type": "string"
          },
          "ntenz": {
            "type": "string"
          },
          "aufkt": {
            "type": "string"
          }
        }
      },
      "postConfirmOrder_res_return": {
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "rueck": {
            "type": "string"
          }
        }
      },
      "createMaterialpurchaseOrder_res_results": {
        "properties": {
          "aufnr": {
            "type": "string"
          },
          "rsnum": {
            "type": "string"
          },
          "rspos": {
            "type": "string"
          },
          "posnr": {
            "type": "string"
          },
          "gpreis": {
            "type": "string"
          },
          "waers": {
            "type": "string"
          }
        }
      },
      "createMaterialpurchaseOrder_req_purchases": {
        "properties": {
          "posnr": {
            "type": "string"
          },
          "vornr": {
            "type": "string"
          },
          "matnr": {
            "type": "string"
          },
          "igort": {
            "type": "string"
          },
          "charg": {
            "type": "string"
          },
          "postp": {
            "type": "string"
          },
          "bdmng": {
            "type": "string"
          },
          "meins": {
            "type": "string"
          },
          "bdter": {
            "type": "string"
          },
          "afnam": {
            "type": "string"
          },
          "konnr": {
            "type": "string"
          },
          "ktpnr": {
            "type": "string"
          },
          "saknr": {
            "type": "string"
          }
        }
      },
      "equipmentReadJobs_res_general": {
        "type": "object",
        "properties": {
          "equipment": {
            "type": "string"
          },
          "authgrp": {
            "type": "string"
          },
          "objecttype": {
            "type": "string"
          },
          "obj_size": {
            "type": "string"
          },
          "obj_weight": {
            "type": "string"
          },
          "unit_of_wt": {
            "type": "string"
          },
          "unit_iso": {
            "type": "string"
          },
          "acqdate": {
            "type": "string"
          },
          "acquisval": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "curr_iso": {
            "type": "string"
          },
          "manfacture": {
            "type": "string"
          },
          "mancountry": {
            "type": "string"
          },
          "countr_iso": {
            "type": "string"
          },
          "manserno": {
            "type": "string"
          },
          "manmodel": {
            "type": "string"
          },
          "constyear": {
            "type": "string"
          },
          "constmonth": {
            "type": "string"
          },
          "start_from": {
            "type": "string"
          },
          "plantplant": {
            "type": "string"
          },
          "consttype": {
            "type": "string"
          },
          "manparno": {
            "type": "string"
          },
          "plangroup": {
            "type": "string"
          },
          "catprofile": {
            "type": "string"
          },
          "work_ctr": {
            "type": "string"
          },
          "descript": {
            "type": "string"
          },
          "abcindic": {
            "type": "string"
          },
          "sortfield": {
            "type": "string"
          },
          "maintplant": {
            "type": "string"
          },
          "maintloc": {
            "type": "string"
          },
          "maintroom": {
            "type": "string"
          },
          "plsectn": {
            "type": "string"
          },
          "pp_wkctr": {
            "type": "string"
          },
          "bus_area": {
            "type": "string"
          },
          "costcenter": {
            "type": "string"
          },
          "wbs_elem": {
            "type": "string"
          },
          "comp_code": {
            "type": "string"
          },
          "asset_no": {
            "type": "string"
          },
          "sub_number": {
            "type": "string"
          },
          "standorder": {
            "type": "string"
          },
          "settlorder": {
            "type": "string"
          },
          "sales_org": {
            "type": "string"
          },
          "distr_chan": {
            "type": "string"
          },
          "division": {
            "type": "string"
          },
          "sales_off": {
            "type": "string"
          },
          "sales_grp": {
            "type": "string"
          },
          "read_crdat": {
            "type": "string"
          },
          "read_crnam": {
            "type": "string"
          },
          "read_chdat": {
            "type": "string"
          },
          "read_chnam": {
            "type": "string"
          },
          "read_adrnr": {
            "type": "string"
          },
          "consttype_external": {
            "type": "string"
          },
          "consttype_guid": {
            "type": "string"
          },
          "consttype_version": {
            "type": "string"
          },
          "read_objnr": {
            "type": "string"
          }
        }
      },
      "equipmentReadJobs_res_specific": {
        "type": "object",
        "properties": {
          "configmat": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "serialno": {
            "type": "string"
          },
          "equicatgry": {
            "type": "string"
          },
          "batch": {
            "type": "string"
          },
          "mandrawno": {
            "type": "string"
          },
          "delivdate": {
            "type": "string"
          },
          "free_date1": {
            "type": "string"
          },
          "free_note1": {
            "type": "string"
          },
          "free_num1": {
            "type": "string"
          },
          "techid": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "free_date2": {
            "type": "string"
          },
          "free_note2": {
            "type": "string"
          },
          "free_num2": {
            "type": "string"
          },
          "read_cuobj": {
            "type": "string"
          },
          "read_curef": {
            "type": "string"
          },
          "read_supeq": {
            "type": "string"
          },
          "read_floc": {
            "type": "string"
          },
          "inst_pos": {
            "type": "string"
          },
          "configmat_external": {
            "type": "string"
          },
          "configmat_guid": {
            "type": "string"
          },
          "configmat_version": {
            "type": "string"
          },
          "material_external": {
            "type": "string"
          },
          "material_guid": {
            "type": "string"
          },
          "material_version": {
            "type": "string"
          },
          "config_control_ind": {
            "type": "string"
          },
          "ippe_guid": {
            "type": "string"
          },
          "techs": {
            "type": "string"
          },
          "func_id": {
            "type": "string"
          },
          "uii": {
            "type": "string"
          },
          "iuid_type": {
            "type": "string"
          },
          "uii_plant": {
            "type": "string"
          },
          "read_maintenance_plan": {
            "type": "string"
          },
          "read_measuring_point": {
            "type": "string"
          },
          "read_valid_from": {
            "type": "string"
          }
        }
      },
      "equipmentReadJobs_res_fleet": {
        "type": "object",
        "properties": {
          "fleet_num": {
            "type": "string"
          },
          "fleet_vin": {
            "type": "string"
          },
          "chassis_num": {
            "type": "string"
          },
          "license_num": {
            "type": "string"
          },
          "expiry_date": {
            "type": "string"
          },
          "fleet_hgt": {
            "type": "string"
          },
          "fleet_wid": {
            "type": "string"
          },
          "fleet_len": {
            "type": "string"
          },
          "dim_unit": {
            "type": "string"
          },
          "dim_unit_iso": {
            "type": "string"
          },
          "pri_calc": {
            "type": "string"
          },
          "repla_date": {
            "type": "string"
          },
          "repla_odom": {
            "type": "string"
          },
          "repla_oph": {
            "type": "string"
          },
          "num_axle": {
            "type": "string"
          },
          "max_occupants": {
            "type": "string"
          },
          "card_num": {
            "type": "string"
          },
          "key_num": {
            "type": "string"
          },
          "fleet_use": {
            "type": "string"
          },
          "engine_type": {
            "type": "string"
          },
          "engine_power": {
            "type": "string"
          },
          "unit_power": {
            "type": "string"
          },
          "unit_power_iso": {
            "type": "string"
          },
          "revolutions": {
            "type": "string"
          },
          "engine_cyl": {
            "type": "string"
          },
          "engine_cap": {
            "type": "string"
          },
          "unit_cap": {
            "type": "string"
          },
          "unit_cap_iso": {
            "type": "string"
          },
          "engine_snr": {
            "type": "string"
          },
          "fuel_pri": {
            "type": "string"
          },
          "oil_type": {
            "type": "string"
          },
          "gross_wgt": {
            "type": "string"
          },
          "load_wgt": {
            "type": "string"
          },
          "wgt_unit": {
            "type": "string"
          },
          "wgt_unit_iso": {
            "type": "string"
          },
          "load_hgt": {
            "type": "string"
          },
          "load_wid": {
            "type": "string"
          },
          "load_len": {
            "type": "string"
          },
          "load_dim_unit": {
            "type": "string"
          },
          "load_dim_unit_iso": {
            "type": "string"
          },
          "load_vol": {
            "type": "string"
          },
          "vol_unit": {
            "type": "string"
          },
          "vol_unit_iso": {
            "type": "string"
          },
          "no_compart": {
            "type": "string"
          },
          "speed_max": {
            "type": "string"
          },
          "speed_unit": {
            "type": "string"
          },
          "speed_unit_iso": {
            "type": "string"
          },
          "consump_tol": {
            "type": "string"
          },
          "consump_move": {
            "type": "string"
          }
        }
      },
      "equipmentReadJobs_res_system_status": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "equipmentReadJobs_res_results": {
        "properties": {
          "general": {
            "$ref": "#/components/schemas/equipmentReadJobs_res_general"
          },
          "specific": {
            "$ref": "#/components/schemas/equipmentReadJobs_res_specific"
          },
          "fleet": {
            "$ref": "#/components/schemas/equipmentReadJobs_res_fleet"
          },
          "system_status": {
            "$ref": "#/components/schemas/equipmentReadJobs_res_system_status"
          },
          "user_status": {
            "$ref": "#/components/schemas/equipmentReadJobs_res_system_status"
          }
        }
      }
    },
    "securitySchemes": {
      "po75_auth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}